body{
    box-sizing: border-box;
    background-color: #0D3B66;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

header{
    margin: 0;
    background-color: #3E92CC;
    width: 100%;
}

nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }

ul {
    margin-top: 0;
}
header nav ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

ul li img{
    max-width: 3em;
    max-height: 2.5em;
    padding-top: 5px;
    padding-right: 5px;
}

ul li span {
    color: #FCFCFF;
    padding-top: 5px;
}

.label_list {
    display: block;
    font-family: 'Poppins',"Segoe UI", Roboto, sans-serif !important;
    font-weight: bold;
}

#no_tasks {
    /* margin: auto;
    width: 30%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add_task{
    position: fixed;
    bottom: 5px;
    right: 10px;
    animation: bounce 1s .5s;
    transform: scale(0.85);
     animation-iteration-count: infinite;
}

#add{
    background-color: #FCFCFF;
    border: none;
    border-radius: 50%;
    color: #3D348B;
    text-align: center;
    font-size: 1.8em;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;

}

@keyframes bounce {
    0% { transform: scale(1.1); opacity: 1 }
    50% { transform: scale(1.2); opacity: 0.5; }
    60% { transform: scale(0.6); opacity: 1 }
    80% { transform: scale(0.95)  }
    100% { transform: scale(0.85) }
  }

.new_task {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    margin-bottom: 1.5em;
}
.new_task_group2{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.new_time{
    display: flex;
    flex-direction: row;
}

.new_time span {
    color: #FCFCFF;
    cursor: pointer;
}

.new_input {
    display: flex;
}

.new_input span {
    color: #FCFCFF;
    cursor: pointer;
}


  label {
    color: #07BEB8;
    font-family: 'Poppins', sans-serif;
    margin-top: 2em;
  }

input[type=text],input[type=date] {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #07BEB8;
    background: transparent;
    width: 100%;
    text-indent: 5px;
}

#parentList {
    width:80%;
    display:flex;
    flex-direction:column;
    /* border:1px solid red; */
    list-style-type:none;
    margin:auto;
    padding:0;
}

.checkInactive {
    align-self:center;
    margin-left:10px;
    transform: scale(1.5);
    cursor:pointer;
    border: 1px solid #6cc0e5;
    opacity: .5;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

.checkActive {
    /* display: flex; */
    text-decoration:line-through;
}


.clear{
    border-radius: 50%;
    align-self:center;
    padding:0 0.3em 0 0.3em;
    cursor: pointer;
}

.clear:hover {
    background-color: #9D69A3;
    opacity: .6;
}






.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    border: none;
    outline: none;
    color: #FCFCFF;
    padding: inherit;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0D3B66;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(65, 2, 54, 0.2);
    z-index: 1;
  }

  .dropdown-content span{
      float: none;
      color: #FCFCFF;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }

  .dropdown-content span:hover{
    background-color: #ddd;
  }

  .show {
    display: block;
  }

  /* .InactiveTask {
      display: none;
  } */